body{
    padding: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
#navbar-columbia{
    text-align: center;
    padding-top: 30px;
    background-color: #007ab8;;
}
#navbar-columbia a{
    font-size: 50px;
    text-decoration: none
}
#above-navbar{
    width: 100%;
    height: 60px;
    background-color: aqua;
}
.navbar {
    height: 120px;
    width: 100%;
    background-color: #474747;
    color: white;
    display: grid;
    grid-template-columns: 15% 50% 30%;
    
}
.navbar a{
    color: white;
}
#menu-bar{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-content: center;
    column-gap: 10px;
}
#menu-bar>a {
    padding-top: 50px;
    box-sizing: border-box;
    height: 120px;
    text-align: center;
    /* border: 1px solid wheat; */
    font-size: 20px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menu-bar-men {
    z-index: 10;
    display: none;
}

#menu-bar a:hover #menu-bar-men {
    width: 40%;
    height: 400px;
    display: block;
    position: absolute;
    margin-top: 45px;
    background-color: ghostwhite;
    overflow-y: scroll;
}

#menu-bar a:hover #menu-bar-men ul{
    list-style: none;
    font-size: 20px;
    text-align: left;   
}
#menu-bar a:hover #menu-bar-men ul li {
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    color: black;
    
}

#menu-bar a:hover #menu-bar-men ul li:last-child{
    border-bottom: none;
}

#menu-bar a:hover {
    background-color: cadetblue;
}



/* navbar search box */
.navbar-search{
    /* border: 2px solid red; */
    display: grid;
    align-items: center;
    /* box-sizing: border-box; */
}
#navbar-search-box{
    padding-left: 20px;
    background-color: transparent;
    width: 60%;
    margin-left: 240px;
    border: 2px solid white;
    height: 60px;
    font-size: x-large;
}







/* home top section css starts */

.home-top-section{
    width: 100%;
    box-sizing: border-box;
}

.home-top-section>img{
    z-index: -2;
    width: 100%;
}
.home-top-section>p{
    margin-top: 250px;
    position: absolute;
    letter-spacing: 6px;
    font-size: 120px;
    margin-left: 100px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 2;
}
#shop_and_skip {
    position: absolute;
    margin-top: 400px;
    margin-left: 100px;
    font-size: 18px;
    width: 260px;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    border: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}


/* Get ready for winter */
.get-ready-for-winter{
    width: 100%;
    border: 1px solid black;
    /* height: 500px; */
    box-sizing: border-box;
    margin-top: 150px;
    
}
.get-ready-for-winter>p{
    font-size: 30px;
    font-weight: bold;
    
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    padding: 0;
}
.crauser{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: auto;
    height: 100%;
    border: 1px solid red;
    column-gap: 5%;
    box-sizing: border-box;
}

.crauser>div{
    text-align: center;
    border: 1px solid green;
}
.crauser>div img {
    display: block;
    margin: auto;
    height: 450px;
}
.crauser>div>p{
    font-size: 25px;
    font-weight: bold;
}

