h2{
    text-align: center;
}
body {
    width: 100%;
}
.form{
    width: 40%;
    height: 80vh;
    border: 1px solid #007ab8;
    margin: auto;
    background-color: whitesmoke;
}
.input-em-pass{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 30px;
    /* border: 1px solid rebeccapurple; */
}
input , label{
    height: 25px;
    /* display: block; */
}
.input-name{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    margin-top: 25px;
}
.gender{

    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 30px;
    margin-top: 25px;

}
#country-div {
    margin: auto;
    margin-top: 25px;
    width: 80%;
    
    
}
#country{
    height: 30px;
}
button {
    
    height: 25px;
    width: 120px;
    display: block;
    margin: auto;
    background-color: #007ab8;
    margin-top: 20px;
    cursor: pointer;
}
button:hover {
    background-color: #54bff5;
}


/* navbar */
body{
    padding: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
html{
    font-size: 16px;
}
#navbar-columbia{
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: #007ab8;
}
#navbar-columbia a{
    text-decoration: none
}
#above-navbar{
    width: 100%;
    height: 2rem;
    background-color: white;
    position: sticky;
    margin: 0;
    top: 0;
    z-index: 20;
}
#above-navbar ul{
    list-style: none;
    display: flex;
    float: right;
    column-gap: 30px;
}
#above-navbar ul li a{
    font-weight: bold;
    background-color: black;
    color: white;
}
#above-navbar a {
    text-decoration: none;
    border: 2px solid black;
}
.navbar {
    /* border: 2px solid blue; */
    box-sizing: border-box;
    height: 6rem;
    font-size: 1.5em;
    width: 100%;
    background-color: #474747;
    color: white;
    display: grid;
    grid-template-columns: 15% 45% 25%;
    position: fixed;
    z-index: 20;
    column-gap: 1.8em;
}
.navbar a{
    color: white;
}
#menu-bar{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
#menu-bar>a {
    /* border: 1px solid red; */
    font-size: 0.65em;
    display: grid;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menu-bar-men {
    z-index: 10;
    display: none;
}

#menu-bar a:hover #menu-bar-men {
    width: 40%;
    height: 20rem;
    display: block;
    position: absolute;
    margin-top: 26rem;
    background-color: ghostwhite;
    overflow-y: scroll;
}

#menu-bar a:hover #menu-bar-men ul{
    list-style: none;
    font-size: 1.2em;
    text-align: left;   
}
#menu-bar a:hover #menu-bar-men ul li {
    margin-bottom: 0.8em;
    color: black;
}
#menu-bar a:hover {
    background-color: cadetblue;
}



/* navbar search box */
.navbar-search{
    display: grid;
    align-items: center;
    /* border: 1px solid firebrick; */
}
#navbar-search-box{
    background-color: transparent;
    border: 2px solid white;
    height: 2em;
}
